<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinos</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Skranji:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- <h1 class="red-title" id="main-title">Contacto - Drink Store</h1> -->
        <div>
            <div>
                    <img src="../imagenes/logo.PNG" alt="logo-drink-store" width="10%" class="logo-imagen">
                <span>
                    <p>Drink Store - ¡Aprovecha nuestras ofertas!</p>
                </span>
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="../index.html" class="menu__link">Home</a>
                    </li>
                    <li>
                        <a href="./cervezas.html" class="menu__link">Cervezas</a>
                    </li>
                    <li>
                        <a href="./destilados.html" class="menu__link">Destilados</a>
                    </li>
                    <li>
                        <a href="./contacto.html" class="menu__link">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <img src="../imagenes/vinos.jpg" alt="variedad-de-vinos" width="100%" class="main-imagen">
    </section>
    <section>
        <h2>Lo más visto</h2>
        <nav class="product-list">
            <ul>
                <li> 
                    <img src="../imagenes/white-box.png" alt="imagen-producto" width="50%" class="product-imagen">
                </li>
                <li>
                    <img src="../imagenes/white-box.png" alt="imagen-producto" width="50%" class="product-imagen">
                </li>
            </ul>
        </nav>
    </section>
    <section>
        <h2>Vino Tinto</h2>
        <nav class="product-list">
            <ul>
                <li> 
                    <img src="../imagenes/white-box.png" alt="imagen-producto" width="50%" class="product-imagen">
                </li>
                <li>
                    <img src="../imagenes/white-box.png" alt="imagen-producto" width="50%" class="product-imagen">
                </li>
            </ul>
        </nav>
    </section>
    <section>
        <h2>Vino Blanco</h2>
        <nav class="product-list">
            <ul>
                <li> 
                    <img src="../imagenes/white-box.png" alt="imagen-producto" width="50%" class="product-imagen">
                </li>
                <li>
                    <img src="../imagenes/white-box.png" alt="imagen-producto" width="50%" class="product-imagen">
                </li>
            </ul>
        </nav>
    </section>
        <footer class="footer">
            <p class="footer__text">Autor: Felipe Llanos</p>
            <p class="footer__text">Comsion-29270</p>
        </footer>
    </body>
    </html>